.realm-display-name {
}





#kc-locale {
  position: absolute;
  top: 10px;
  right: 10px;
}

#kc-locale-dropdown {
  text-align: right;
}

#kc-current-locale-link {
  color: red;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
}

.pf-c-dropdown__menu {
  right: 0;
}

#kc-header-wrapper {
  display: none;
  color: red;
}

.page-footer {
  background-color: white;
  color: black;
}

.login-pf,
.login-pf body {
    background: none;
    /* background-image: linear-gradient(to right, rgb(249, 171, 63) 50%, #f5f6f8 50%); */
    background-color: rgb(249, 171, 63);
    color: #0a0c0d;
}

h1#kc-page-title {
    color: #020304;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    padding: 0 20px;
}

.form-group:has(> div > input#terms_and_conditions) {
    display: none;
}

.kc-locale-wrapper {
  margin-top: -80px;
  color: red
}

.login-pf-page .login-pf-page-header::before {
    content: "";
    display: inline-block;
    background-image: url('https://app.yoma.world/static/media/logo.b5904244acf3d691fa2399e21a926ff4.svg');
    width: 88px;
    height: 42px;
    margin-right: 10px;
    vertical-align: middle;
    overflow: hidden;
}

.login-pf-page .login-pf-page-header {
    margin-bottom: 20px;
    text-align: left;
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.login-pf-page .login-pf-page-header::after {
    margin-left: 10px;
    overflow: hidden;
}


.login-pf-page .card-pf {
    padding: 20px 30px 30px 30px;
    background-color: white;
    border-radius: 25px;
    border: none;
    box-shadow: none;
}

#kc-info {
    margin: auto;
}

#kc-info-wrapper {
    background-color: white;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 16px;
    width: 95%;
    margin: 10px auto 0;
}

.pf-c-button.pf-m-primary {
    font-size: 13px;
    background-color: #461d4d;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    width: 90%;
    margin: 0 auto;
    display: block;
}

.login-pf-page .login-pf-signup a {
    margin: 0 0 0 0;
}

.login-pf-signup {

}

.pf-c-button.pf-m-primary:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.login-pf-page .login-pf-settings {
    justify-content: center;
}

#kc-form-buttons {
    margin-top: 0;
}

.pf-c-form-control:not(textarea) {
    font-size: 13px;
    background-color: #e6e8eb;
    color: #495057;
    border-radius: 50px;
    font-size: 14px;
    height: 48px;
    width: 85%;
    margin: 0 auto;
    display: block;
    border-color: white;
    border: solid;
    border: 1px;
    padding: 0 16px;
    /* Add padding for the text */
}

/* Add styles for the placeholder text */
.pf-c-form-control:not(textarea)::placeholder {
    color: #a0a0a0;
    /* Placeholder text color */
    font-size: 16px;
    /* Placeholder text font size */
}

a {
    color: #387f6a;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 14px;
}

.grey-hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 22px 0 22px 0;
}

#kc-register-form div {
    text-align: left;
    /* margin-left: 10px; */
}

.login-pf body {
    color: #495057;
    text-align: left;
    padding: 15px 35px;
    margin-left: 10px;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.centered-subTitles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.centered-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pf-c-form__label-text {
    font-size: 12px;
    color: black;
    margin: 0 0 5px 35px;
}

.pf-c-form__helper-text {
    margin: 0 0 0 35px;
}

.centered-checkbox {
    /* margin-top: 10px; */
}

.page-footer {
    text-align: center;
    background-color: #461d4d;
    color: white;
    padding: 20px;
}

.text-left {
    text-align: left;
    padding: 15px 35px;
    margin-left: 10px;
}

.white-link {
    color: white;
    /* Add any additional styling for the link if needed */
  }

.password-container,
.password-confirm-container {
    position: relative;
}
.password-container i,
.password-confirm-container i {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    cursor: pointer;
}

.fa-eye-slash::before {
font-size: 15px;
}

.fa-eye::before {
font-size: 15px;
}

.page-footer {
  text-align: center;
  background-color: #461d4d;
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
