################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/api/src/application/Yoma.Core.Api/appsettings.Local.json
