@import "./variables.module.scss";

.topNavMenuItem {
  @apply text-xs hover:bg-transparent focus:bg-transparent active:bg-transparent active:text-white xl:text-sm;
}
.topNavMenuItem:hover {
  transform: scale(1.1);
  transition: 0.4s;
  color: $primary-color;
}

.borderDarkButton {
  background-color: #fff;
  color: #545859;
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  width: 100%;
  text-align: start;
  justify-content: start;
  padding: 10pt 20pt 10pt 20pt;
}
.borderDarkButton:hover {
  background-color: rgba(203, 213, 225, 1);
}
