@import "./variables.module.scss";

.userMenuLink {
  background-color: #fff;
  color: #545859;
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  width: 100%;
  text-align: start;
  justify-content: start;
  padding: 10pt 20pt 10pt 20pt;
}

.userMenuLink:hover {
  background-color: rgba(203, 213, 225, 1);
}
