/* variables.module.scss */
$primary-color: #75bc47;
$secondary-color: #053758;
$secondary-color-light: #8fb775;
$color-dark-blue: #082a4c;
$color-red: #ff6464;
$color-yellow: #f7b500;

$bg-solid-light: #fff;
$bg-solid-dark: #000;
$bg-transparent-dark: rgba(0, 0, 0, 0.3);
$text-color-light: #fff;
$text-color-dark: #020304;
$text-color-blue: #6392b0;
$background-color-dark: #060d20cc;
$background-color-dark2: rgba(6, 13, 32, 0.5);
$background-color-dark3: rgba(0, 0, 0, 0.7);
$background-color-light: #f3f6fa;
$border-color-dark: #053758;
$color-blue-light: #6392b0;

$background-color-dark-button: #08122a;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  secondaryColorLight: $secondary-color-light;
  colorDarkBlue: $color-dark-blue;
  colorRed: $color-red;
  bgSolidLight: $bg-solid-light;
  bgSolidDark: $bg-solid-dark;
  bgTransparentDark: $bg-transparent-dark;
  textColorLight: $text-color-light;
  textColorDark: $text-color-dark;
  textColorBlue: $text-color-blue;
  backgroundColorDark: $background-color-dark;
  backgroundColorDark2: $background-color-dark2;
  backgroundColorButtonDark: $background-color-dark-button;
  backgroundColorLight: $background-color-light;
  borderColorDark: $border-color-dark;
}
