# http://editorconfig.org
root = false

# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/csharp-formatting-options
# CSharp formatting rules
[*.cs]
indent_size = 4
# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none
# New-line options
csharp_new_line_before_open_brace = all # default: all
csharp_new_line_before_else = true # default: true
csharp_new_line_before_catch = true # default: true
csharp_new_line_before_finally = true # default: true
csharp_new_line_before_members_in_object_initializers = true # default: true
csharp_new_line_before_members_in_anonymous_types = true # default: true
csharp_new_line_between_query_expression_clauses = true # default: true
# Indentation options
csharp_indent_case_contents = true # default: true
csharp_indent_switch_labels = true # default: true
csharp_indent_labels = one_less_than_current# default: one_less_than_current
csharp_indent_block_contents = true # default: true
csharp_indent_braces = false # default: false
csharp_indent_case_contents_when_block = true # default: true
# Spacing options
csharp_space_after_cast = false # default: false
csharp_space_after_keywords_in_control_flow_statements = true # default: false
csharp_space_between_parentheses = false # default: false
csharp_space_before_colon_in_inheritance_clause = true # default: true
csharp_space_after_colon_in_inheritance_clause = true # default: true
csharp_space_around_binary_operators = before_and_after # default: before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false # default: false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false # default: false
csharp_space_between_method_declaration_name_and_open_parenthesis = false # default: false
csharp_space_between_method_call_parameter_list_parentheses = false # default: false
csharp_space_between_method_call_empty_parameter_list_parentheses = false # default: false
csharp_space_between_method_call_name_and_opening_parenthesis = false # default: false
csharp_space_after_comma = true # default: true
csharp_space_before_comma = false # default: false
csharp_space_after_dot = false # default: false
csharp_space_before_dot = false # default: false
csharp_space_after_semicolon_in_for_statement = true # default: true
csharp_space_before_semicolon_in_for_statement = false # default: false
csharp_space_around_declaration_statements = false # default: false
csharp_space_before_open_square_brackets = false # default: false
csharp_space_between_empty_square_brackets = false # default: false
csharp_space_between_square_brackets = false # default: false
# Wrap options
csharp_preserve_single_line_statements = true # default: true
csharp_preserve_single_line_blocks = true # default: true
csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_primary_constructors = false:suggestion
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true:silent

[*.{cs,vb}]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 2
end_of_line = lf
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
