@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl tracking-tighter md:text-4xl;
  }
  h2 {
    @apply text-xl tracking-tighter md:text-3xl;
  }
  h3 {
    @apply text-lg tracking-tighter md:text-2xl;
  }
  h4 {
    @apply text-base tracking-tighter md:text-xl;
  }
  h5 {
    @apply text-sm tracking-tighter md:text-lg;
  }
  h6 {
    @apply text-xs tracking-tighter md:text-base;
  }
}

body {
  background-color: theme("colors.white");
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

// SCROLLBARS
:root {
  --primary: theme("colors.gray-light");
  --secondary: theme("colors.gray-dark");
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

// STYLE OVERRIDES PER THEME (PURPLE/GREEN/BLUE)
:root .bg-theme {
  @apply bg-purple; // default
}

[data-theme="purple"] .bg-theme {
  @apply bg-purple;
}
[data-theme="green"] .bg-theme {
  @apply bg-green;
}
[data-theme="blue"] .bg-theme {
  @apply bg-blue;
}
