@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl tracking-tighter md:text-4xl;
  }
  h2 {
    @apply text-xl tracking-tighter md:text-3xl;
  }
  h3 {
    @apply text-lg tracking-tighter md:text-2xl;
  }
  h4 {
    @apply text-base tracking-tighter md:text-xl;
  }
  h5 {
    @apply text-sm tracking-tighter md:text-lg;
  }
  h6 {
    @apply text-xs tracking-tighter md:text-base;
  }
}

.badge {
  @apply h-6 whitespace-nowrap rounded-md border-none text-xs font-bold;
}

.btn {
  @apply rounded-full;
}

.btn-success {
  @apply text-white;
}

.divider {
  @apply h-[2px] rounded-full bg-gray-light;
}

body {
  background-color: theme("colors.white");
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

// SCROLLBARS
:root {
  --primary: theme("colors.gray-light");
  --secondary: theme("colors.gray-dark");
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

// STYLE OVERRIDES PER THEME (PURPLE/GREEN/BLUE)
:root .bg-theme {
  @apply bg-purple; // default
}

[data-theme="purple"] .bg-theme {
  @apply bg-purple;
}
[data-theme="green"] .bg-theme {
  @apply bg-green;
}
[data-theme="blue"] .bg-theme {
  @apply bg-blue;
}
[data-theme="orange"] .bg-theme {
  @apply bg-orange;
}

// hide the google translate toolbar
.skiptranslate {
  display: none !important;
}

// carousel item alignment fix
.slide {
  text-align: inherit !important;
}

@media (max-width: 760px) {
  #beacon-container {
    display: none !important;
  }
}

// NProgress
#nprogress .bar {
  height: 4px !important;
}

// override the NProgress styles based on the theme
[data-theme="purple"] #nprogress .bar {
  @apply bg-blue;
}
[data-theme="green"] #nprogress .bar {
  @apply bg-blue;
}
[data-theme="blue"] #nprogress .bar {
  @apply bg-white;
}
[data-theme="orange"] #nprogress .bar {
  @apply bg-blue;
}
