@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl tracking-tighter md:text-4xl;
  }
  h2 {
    @apply text-xl tracking-tighter md:text-3xl;
  }
  h3 {
    @apply text-lg tracking-tighter md:text-2xl;
  }
  h4 {
    @apply text-base tracking-tighter md:text-xl;
  }
  h5 {
    @apply text-sm tracking-tighter md:text-lg;
  }
  h6 {
    @apply text-xs tracking-tighter md:text-base;
  }
}

.badge {
  @apply h-6 whitespace-nowrap rounded-md border-none text-xs font-bold;
}

.btn {
  @apply rounded-full;
}

.btn-success {
  @apply text-white;
}

.divider {
  @apply h-[2px] rounded-full bg-gray-light;
}

body {
  background-color: theme("colors.white");
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

// SCROLLBARS
:root {
  --primary: theme("colors.gray-light");
  --secondary: theme("colors.gray-dark");
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

// STYLE OVERRIDES PER THEME (PURPLE/GREEN/BLUE)
:root .bg-theme {
  @apply bg-purple; // default
}

[data-theme="purple"] .bg-theme {
  @apply bg-purple;
}
[data-theme="green"] .bg-theme {
  @apply bg-green;
}
[data-theme="blue"] .bg-theme {
  @apply bg-blue;
}
[data-theme="orange"] .bg-theme {
  @apply bg-orange;
}

// hide the google translate toolbar
.skiptranslate {
  display: none !important;
}

// carousel item alignment fix
.slide {
  text-align: inherit !important;
}

// Gleac chat
#hubspot-messages-iframe-container {
  visibility: hidden !important;
}

@media (max-width: 760px) {
  // Help scout
  #beacon-container {
    display: none !important;
  }
}

// NProgress
#nprogress .bar {
  height: 5.5px !important;
  background: theme("colors.white") !important;
  opacity: 0.3 !important;
}

#nprogress .peg {
  display: none !important;
}

// React-Toastify
.Toastify__toast {
  @apply rounded-lg;
}

.Toastify__toast-theme--colored.Toastify__toast--default {
  @apply bg-white;
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  @apply bg-blue;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply bg-green;
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  @apply bg-warning;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  @apply bg-error;
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
  @apply bg-white bg-opacity-30;
}

.Toastify__close-button {
  @apply text-white opacity-100;
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
  @apply scale-110;
}
