#password-requirements {
  flex-direction: column;
  margin-left: 35px;
  margin-right: 35px;
  display: none;
}

#password-requirements #label {
  margin-top: 10px;
  margin-bottom: 5px;
  color: black;
}
#password-requirements > p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 12px;
  margin: 0px;
}

#password-requirements > p > img {
  width: 20px;
  height: 20px;
  margin-right: -5px;
}
