.kc-locale-wrapper {
    margin-top: -80px;
}

#kc-locale {
    position: absolute;
    top: 15px;
    right: 20px;
}

/* #kc-locale-dropdown {
} */

.login-pf-page .login-pf-page-header::before {
  content: "";
  display: inline-block;
  background-image: url('https://yoma-v3-public-storage.s3.eu-west-1.amazonaws.com/shared-resources/yoma.png');
  width: 100px;
  height: 42px;
  margin-right: 10px;
  margin-left: -10px;
  margin-top: -10px;
  overflow: hidden;
}

#kc-current-locale-link {
    text-decoration: none;
    font-size: 14px;
    padding: 10px 25px;
    background-color: white;
    border-radius: 5px;
}

#kc-current-locale-link::after {
    /* content: "▶" !important; */
    content: "" !important;
    color: #461d4d;
    font-size: 14px;
    display: inline-block;
    transform: rotate(90deg) !important;
}

.pf-c-dropdown__menu {
    right: 0;
}

#kc-header-wrapper {
    display: none;
}

.page-footer {
    background-color: white;
    color: black;
}

.login-pf,
.login-pf body {
    background: none;
    /* background-image: linear-gradient(to right, rgb(249, 171, 63) 50%, #f5f6f8 50%); */
    background-color: rgb(249, 171, 63);
    color: #0a0c0d;
}

h1#kc-page-title {
    color: #020304;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    padding: 0 20px;
    margin-top: 20px;
}

.form-group:has(> div > input#terms_and_conditions) {
    display: none;
}

#password-instructions {
    width: 85%;
    color: #cccccc;
    margin-inline: auto;
    padding-left: 2px;
}

#toggle-password,
#toggle-password-confirm {
    margin-right: 15px !important;
    /* margin-left: calc(1px + 1%); */
}

#register-password,
#register-password-confirm {
    padding-left: calc(1px + 10%);
}

.password-container,
.password-confirm-container {
    position: relative;
}
.password-container i,
.password-confirm-container i {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    cursor: pointer;
}

.fa-eye-slash::before {
    font-size: 15px;
}

.fa-eye::before {
    font-size: 15px;
}

.alert-warning {
    display: none;
}

#terms-label {
    margin-block: auto;
    margin-top: 5px;
}

#terms {
    height: 20px;
    width: 20px;
}

#terms-prefix {
    color: #495057;
    font-size: 14px;
    margin-left: 5px;
}

#terms-text {
    display: inline;
}

#email-icon {
    margin-top: 1rem;
    height: 150px;
    width: 150px;
}

#email-verify-text {
    font-size: 20px;
    text-align: center;
    margin-top: -1.5rem;
}

#user-email {
    color: #020304;
    font-size: 20px;
    text-align: center;
    margin-top: -0.5rem;
}

#email-verify-link {
    color: #461d4d;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 16px;
}

.verify-instructions {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
}

#forget-password-text {
    margin-inline: 35px;
}

#update-email-text {
    text-align: center;
}

#reset-password-btn {
    margin-top: 1rem;
}

.login-pf-page .login-pf-page-header {
    margin-bottom: 20px;
    text-align: left;
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.login-pf-page .login-pf-page-header::after {
    margin-left: 10px;
    overflow: hidden;
}

.login-pf-page .card-pf {
    padding: 20px 30px 30px 30px;
    background-color: white;
    border-radius: 25px;
    border: none;
    box-shadow: none;
}

.card-pf {
    display: flex;
    flex-direction: column;
}

#kc-info {
    margin: auto;
}

#kc-info-wrapper {
    padding: 15px 0;
    font-size: 16px;
    width: 95%;
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: none;
    border: none;
    height: fit-content;
}

.pf-c-button.pf-m-primary {
    font-size: 13px;
    background-color: #461d4d;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    width: 85%;
    margin: 0 auto;
    display: block;
}

#register-btn {
    width: 95%;
    border-radius: 50px;
}

#back-to-login-btn {
    width: 95%;
    background: white;
    color: #461d4d;
    border: 2px solid #461d4d;
    border-radius: 50px;
}

#kc-registration {
    background: white;
    border: 2px solid #461d4d;
    border-radius: 50px;
    height: 48px;
    margin: 0 auto;
    width: 90%;
    position: relative;
    line-height: 1.8;
}

#kc-registration a {
    color: #461d4d;
    font-size: 16px;
    margin-top: 8px;
    outline: none !important;
}

p {
    text-align: center;
    font-size: 1rem;
}

/* Hack to add divider above the register button, there is a DOM ghost stealing the hr element */
#kc-registration::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: 0;
    width: 100%;
    height: 2px;
    background: #cccccc;
}

#kc-registration:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#kc-registration:hover a {
    text-decoration: none;
}

.login-pf-page .login-pf-signup a {
    margin: 0 0 0 0;
}

.pf-c-button.pf-m-primary:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.login-pf-page .login-pf-settings {
    justify-content: center;
}

#kc-form-buttons {
    margin-top: 0;
}

.pf-c-form-control:not(textarea) {
    font-size: 13px;
    background-color: white;
    color: #495057;
    border-radius: 5px;
    font-size: 14px;
    height: 48px;
    width: 85%;
    margin: 0 auto;
    display: block;
    border: 2px solid #e6e8eb !important;
    padding: 0 16px;
}

.pf-c-form-control:not(textarea)::placeholder {
    color: #a0a0a0;
    font-size: 16px;
}

a {
    color: #387f6a;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 14px;
}

.grey-hr {
    border: none;
    border-top: 1px solid #cccccc;
    margin: 22px auto 22px auto;
    width: 85%;
}

#kc-register-form div {
    text-align: left;
}

#kc-form-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.login-pf body {
    color: #495057;
    text-align: left;
    padding: 15px 35px;
    margin-left: 10px;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.centered-subTitles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.centered-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pf-c-form__label-text {
    font-size: 12px;
    color: black;
    margin: 0 0 5px 35px;
}

.pf-c-form__helper-text {
    margin: 0 0 0 35px;
}

.centered-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem;
    gap: 10px;
}

.page-footer {
    text-align: center;
    background-color: #461d4d;
    color: white;
    padding: 20px;
}

.text-left {
    text-align: left;
    padding: 15px 35px;
    margin-left: 10px;
}

.white-link {
    color: white;
}

.page-footer {
    text-align: center;
    background-color: #461d4d;
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#back-to-yoma-link {
    margin-block: 1rem;
    font-size: 1rem;
}

.checkbox-update-password-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 25px auto;
}
.checkbox-update-password-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 767px) {
    body {
        padding: 0 0 !important;
        margin: 0 auto !important;
        width: 96% !important;
    }
    .card-pf {
        margin: 30px 10px !important;
        padding: 25px 0 25px 0 !important;
        border-radius: 0;
        display: flex;
        flex-direction: column;
    }

    #terms-prefix {
        margin-left: 0;
    }

    #password-instructions {
        padding-left: 7px;
        text-align: left !important;
        display: block;
    }
}
