# Ignore everything
**

# Except the following:
!public/
public/*.js
public/*.map

!src/
!.env.example
!.eslintrc.cjs
!.prettierignore
!next.config.mjs
!package.json
!postcss.config.cjs
!prettier.config.cjs
!sentry.client.config.ts
!sentry.edge.config.ts
!sentry.server.config.ts
!tailwind.config.ts
!tsconfig.json
!yarn.lock
